{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Watch List</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Movie ID</th>
            <!-- <th scope="col">Quantity</th> -->
            
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.movies.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.movie.title }}</td>
            <td>{{ order_item.movie.itemNumber }}</td>
   
            <td>
     
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.movie.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Wachlist is empty</td>
        </tr>
      
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        
        
        <tr>
            <td colspan="5">

            <a class='btn btn-primary float-right' href='/movies/'>Continue Browsing</a>
            </td>
        </tr>
    
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


